@font-face {
    font-family: "Futura";
    src: url("../fonts/Futura.otf");
}

@font-face {
    font-family: "Futura-Bold";
    src: url("../fonts/Futura-Bold.otf");
}
html {
    height: 100%;
}
body {
    /* background-image: url("../images/back2.png") !important; */
    background-color: #f8f8f8; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Futura" !important;
    color: #393e46 !important;
    overflow: hidden;
    min-height: 100%;

}

.text-dark {
    color: #393e46 !important;
}

.text-success {
    color: #06D6A0 !important;
}

.text-primary {
    color: #118AB2 !important;
}

.text-warning {
    color: #FFD166 !important;
}

.text-danger {
    color: #EF476F !important;
}

.btn {
    font-family: "Futura-Bold";
}

.bg-success {
    background-color: #06D6A0 !important;
}

.btn-success {
    background-color: #06D6A0 !important;
    border: none !important;
    color: #fff !important;
    transition: 0.2s ease;
}

.btn-success:hover {
    background-color: #03bb8a !important;
    color: #fff !important;
}

.btn-success:active {
    background-color: #03a57a !important;
    color: #fff !important;
}

.btn-warning {
    background-color: #FFD166 !important;
    border: none !important;
    color: #fff !important;
    transition: 0.2s ease;
}

.btn-warning:hover {
    background-color: #e7bd5b !important;
    color: #fff !important;
}

.btn-warning:active {
    background-color: #c7a34e !important;
    color: #fff !important;
}

.btn-primary {
    background-color: #118AB2 !important;
    border: none !important;
    color: #fff !important;
    transition: 0.2s ease;
}

.btn-primary:hover {
    background-color: #0f7a9e !important;
    color: #fff !important;
}

.btn-primary:active {
    background-color: #0d6988 !important;
    color: #fff !important;
}

.btn-danger {
    background-color: #EF476F !important;
    border: none !important;
    color: #fff !important;
    transition: 0.2s ease;
}

.btn-danger:hover {
    background-color: #dd4166 !important;
    color: #fff !important;
}

.btn-danger:active {
    background-color: #c43959 !important;
    color: #fff !important;
}

.btn-white {
    background-color: #fff !important;
    border: none !important;
    transition: 0.2s ease;
}

.btn-white:hover {
    background-color: #eee !important;
}

.btn-white:active {
    background-color: rgb(207, 207, 207) !important;
}

.btn-purple {
    background-color: #7511B2 !important;
    border: none !important;
    color: #fff !important;
    transition: 0.2s ease;
}

.btn-purple:hover {
    background-color: #620c97 !important;
    color: #fff !important;
}

.btn-purple:active {
    background-color: #540a81 !important;
    color: #fff !important;
}

.btn-purple:focus {
    box-shadow: 0px 0px 0px 3px #7411b285;
}

.container-window-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    -webkit-app-region: drag;

}

.window-title {
    margin-left: 24px;
    font-weight: bold !important;
    
}
.container-window-btn {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    -webkit-app-region: no-drag;
}


.btnBack {
    border-radius: 0px !important;
    -webkit-app-region: no-drag;
}

.btnBack:hover {
    background-color: rgba(0, 0, 0, .1) !important;
}

.btnBack:focus, .btnBack:active {
    box-shadow: none !important;
}

.window-btn {
    width: 42px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window-btn {
    transition: 0.2s ease;
    cursor: pointer;
}

.window-btn:hover {
    background-color: rgba(0,0,0,0.1);
}

.btn-close:hover {
    background-color: #EF476F !important;
}
.btn-close:hover span {
    color: #fff !important;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Futura-Bold";
}

.titleColumn {
    font-family: "Futura-Bold";
    text-align: center;
    border: none;
}

input:focus.titleColumn {
    outline: none !important;
}

.boardCard {
    animation: fade-in 0.3s ease-in;
}

.titleBoard {
    font-family: "Futura-Bold";
    font-size: 2.5rem;
    text-align: center;
    border: none !important;
}

input.titleBoard {
    align-self: center !important;
    outline: none !important;
}

input:focus.titleBoard {
    outline: none !important;
}

.ctrl-grid-boards {
    position: fixed;
    top: 0%;
    left: 50%;
    margin-left: -80px;
    border-radius: 0px 0px 4px 4px;
}

.container-teams {
    background-color: rgba(0, 0, 0, 0);
}

.card-team {
    display: inline-block !important;
    width: 100px !important;
    border-radius: 4px 4px 0px 0px !important;
    animation: fade-in 0.3s ease-in;
}

.team-score {
    font-family: "Futura-Bold";
}

.btnDeleteTeam {
    font-size: 10px !important;
}

.ctrl-grid-boards .btn {
    font-size: 16px !important;
}

.titleTeam button {
    height: 30px !important;
    border-radius: 0px 4px 0px 4px !important;
}

.titleTeam {
    display: flex;
    justify-content: space-between;
}


.btn-white:focus {
    box-shadow: none;
    outline: none;
}

.container-palette-color {
    opacity: 0;
    transform: scaleZ(0);
    top: 50%;
    background-color: #fff;
    transition: 0.2s ease;
    border-radius: 4px;
    position: absolute !important;
    left: 0% !important;
    z-index: 1000;
}

.container-palette-color.activePalete{
    opacity: 1;
    transform: scale(1);
    position: absolute !important;
    left: 0% !important;
    top: 20%;
    z-index: 1000;
    transition: 0.2s ease;
}

.dropdown-menu {
    border: none !important;
}

input::placeholder {
    color: rgba(57, 62, 70, 0.5) !important;
}

.txtSearch {
    height: 40px;
    border: none;
    border-radius: 20px;
    font-family: "Futura-Bold";
}

.txtSearch:focus {
    outline: none;
}

.txtSearch:valid + .iconSearch {
    color: #06D6A0 !important;
}

.titulo-board-card {
    font-family: "Futura-Bold";
    color: rgba(57, 62, 70, 0.8);
}

.titulo-board-card {
    font-family: "Futura-Bold";
    color: rgba(57, 62, 70, 0.8);
}

.titulo-board-input {
    font-family: "Futura-Bold";
    font-size: 1.5rem;
    color: rgba(57, 62, 70, 0.8);
    border: none;
}

.titulo-board-input:focus {
    outline: none;
}

.fecha-card {
    color: hsla(195, 83%, 16%, 0.5);
    font-size: 14px !important;
}

.container-boards {
    overflow: auto;
    max-height: 85vh;
}

.container-boards::-webkit-scrollbar-track {
    background: #fff;
}

.container-boards::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0);
    width: 10px;
    height: 10px;
}

.container-boards::-webkit-scrollbar-thumb {
    background: #eee;
}

.container-boards::-webkit-scrollbar-thumb:hover {
    background: #d2d2d2;
}

.container-columns::-webkit-scrollbar-track {
    background: #f8f8f8 !important;
}

.container-columns::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0);
    width: 10px;
    height: 10px;
}

.container-columns::-webkit-scrollbar-thumb {
    background: #eee;
}

.container-columns::-webkit-scrollbar-thumb:hover {
    background: #d2d2d2;
}

.container-home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container-boards {
    flex: 1;
    white-space: nowrap !important;
    overflow-x: auto;
}

.container-columns {
    flex: 1;
    white-space: nowrap !important;
}

.container-column {
    padding: 0rem .25rem;
    animation: fade-in 0.3s ease;
}

.rowColumns > div {
    text-align: center !important;
}

.column-board {
    width: 200px !important; 
    text-align: center !important;
}

.cell-board {
    width: 200px;
    height: 60px !important;
    margin: 0rem 0rem 0.5rem 0rem;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 4px;
    cursor: pointer;
    animation: fade-in 0.3s ease;
}

.cell-board > input {
    width: 100px !important;
    text-align: center;
    border: none !important;
}

.cell-board>input:focus {
    outline: none;
}

.container-NoBoards {
    margin-top: 20%;
    color: rgba(57, 62, 70, .5);
}

.container-NoBoards button {
    background-color: rgba(57, 62, 70, .5);
}

.btn-circle {
    width: 34px;
    height: 34px;
    padding: 0px !important;
}

.disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.btn-pallete-color {
    font-size: 24px !important;
}

.btn-pallete-color:focus {
    outline: none;
}

.container-ctrl-columns {
    opacity:  0;
    transition: 0.2s ease;
}

.draggableClass {
    background-color: rgba(255, 255, 255, 1) !important;
    border-radius: 4px;
}

.container-column:hover .container-ctrl-columns {
    opacity: 1;
    transition: 0.2s ease;
}

.option-color {
    width: 32px;
    height: 32px;
}

.page-question {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: 0.3s ease-in-out;
    animation: showQuestion 0.3s ease-in-out;
    z-index: 1099 !important;
}

.page-question.question-showed {
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.page-question .menuBar-question {
    display: flex;
    justify-content: space-between;
}

.container-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.5;
}

.container-answer {
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.5;
    z-index: 998;
    transform: scaleY(0);
    transition: 0.2s ease-in;
}

.container-answer.showAnswer {
    transform: scale(1);
    position: relative;
    transition: 0.3s ease-in;
}

.page-question.hideQuestion {
    transform: scale(0);
    transition: 0.2s ease-in;
}

.container-question .ql-toolbar span,
.container-question .ql-toolbar svg {
    color: #fff !important;
    fill: #fff !important;
}

.container-question .ql-toolbar .ql-stroke {
    fill: none;
    stroke: #fff;
}

.container-question .ql-toolbar .ql-fill {
    fill: #fff;
    stroke: none;
}

.container-question .ql-toolbar .ql-picker {
    color: #fff;
}

.ql-container {
    font-family: "Futura-Bold";
}

.ql-picker-options .ql-picker-item::before {
    color: #393e46 !important;
}

.ql-formats button:focus,
.ql-formats button:active,
.ql-formats select:focus,
.ql-formats select:active {
    outline: none !important;
    box-shadow: none !important;
}

.txtQuestion, .txtAnswer {
    font-family: "Futura-Bold";
}

.ql-editor h1 {
    font-size: 2.5rem !important;
}

.ql-editor h2 {
    font-size: 2rem !important;
}

.ql-editor h3 {
    font-size: 1.75rem !important;
}

.ql-editor h4 {
    font-size: 1.5rem !important;
}

.ql-editor h5 {
    font-size: 1.25rem !important;
}

.ql-editor h6 {
    font-size: 1rem !important;
}

.btnAnswer {
    border-radius: 0px 0px 0px 4px !important;
}

.swal-title {
    font-family: "Futura-Bold" !important;
}

.swal-button--confirm {
    background-color: #06D6A0 !important;
    color: #fff !important;
    border: none;
}

.swal-button--confirm:hover {
    background-color: #03bb8a !important;
    color: #fff !important;
    border: none;
}

.swal-button {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    transition: 0.2s ease !important;
    font-family: "Futura-Bold";
}

.swal-button:focus {
    outline: none;
    box-shadow: none;
}


.contLoading {
    background-color: #f8f8f87e;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}

#spinner {
    width: 128px;
    height: 128px;
    background-color: transparent;
    border: solid 5px transparent;
    border-top: 5px solid #06D6A0;
    border-bottom: 5px solid #06D6A0;
    border-radius: 100%;
    animation: rotation .6s infinite linear;
    position: relative;
    top: -74px;
}

.saludos {
    font-family: "Futura-Bold";
    color: rgba(57, 62, 70, 0.8);
    filter: drop-shadow(2px 2px 2px #f8f8f8);
    text-align: center;
    position: relative;
    top: -64px;
    margin-top: 10px;
}

.img-spinner {
    position: relative;
    top: 64px;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(359deg);
    }
}

.page {
    animation: fade-in 0.2s ease-in;
}


/* .shadow-sm-n {
    box-shadow: 4px 4px 10px #c8c8c8,
    -4px -4px 5px #ffffff !important;
}

.btn-white {
    background-color: #f8f8f8 !important;
}

.bg-white {
    background-color: #f8f8f8 !important;
} */

input {
    background: transparent !important;
}

.__react_component_tooltip {
    font-family: "Futura-Bold" !important;
}
 
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes showQuestion {
    from {
        transform: scale(0);
    }   
    to {
        transform: scale(1);
    }
}

@keyframes slide-down {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}